.header {
  position: relative;
  .margin {
    height: 10lvh;
  }
  .content {
    height: 10lvh;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    background-color: var(--bg-color);
    top: 0;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    //padding: 1rem 2rem;
  }

  &-left {
    display: flex;
    height: 100%;
    //align-items: center;
    //gap: 1rem;
  }

  &-burger {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
  }

  &-logo {
    display: flex;
    align-items: center;
    //gap: 0.5rem;
    text-decoration: none;
    height: 100%;
    img {
      height: 100%;
      width: auto;
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 2rem;
    margin-right: auto;

    a {
      text-decoration: none;
    }
  }

  &-close {
    display: none;
  }

  &-overlay {
    display: none;
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &-search {
    //padding: 0.4rem 0.8rem;
  }

  &-icon {
    text-decoration: none;
  }
}
